/* screen - client-era */

.client-era {
  background-color: var(--white);
  height: 2272px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.client-era .rectangle-82 {
  background-color: var(--ebony-clay);
  height: 783px;
  left: -1px;
  position: absolute;
  top: 760px;
  width: 1513px;
}

.client-era .clip-path-group {
  height: 878px;
  left: -55843px;
  position: absolute;
  top: 3230px;
  width: 1755px;
}

.client-era .objects {
  height: 654px;
  left: 776px;
  position: absolute;
  top: 105px;
  width: 736px;
}

.client-era .objects-1 {
  height: 654px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 437px;
}

.client-era .client-portal {
  align-items: center;
  color: var(--black);
  display: flex;
  font-weight: 900;
  height: 66px;
  justify-content: center;
  left: calc(50.00% - 214px);
  line-height: 66px;
  position: absolute;
  text-align: center;
  top: 258px;
  white-space: nowrap;
}

.client-era .group-11 {
  display: flex;
  height: 84px;
  justify-content: center;
  left: calc(50.00% - 378px);
  position: absolute;
  top: 498px;
  width: 758px;
}

.client-era .existing-clients-can {
  align-items: center;
  color: var(--black);
  display: flex;
  font-weight: 400;
  height: 84px;
  justify-content: center;
  line-height: 28px;
  margin-left: -2.0px;
  text-align: center;
  width: 756.04px;
}

.client-era .group-13 {
  display: flex;
  height: 28px;
  justify-content: center;
  left: calc(50.00% - 393px);
  position: absolute;
  top: 379px;
  width: 787px;
}

.client-era .secure-access-to-you {
  align-items: center;
  color: var(--black);
  display: flex;
  font-weight: 400;
  height: 28px;
  justify-content: center;
  line-height: 28px;
  margin-left: -2px;
  margin-top: 0;
  text-align: center;
  width: 785.19px;
}

.client-era .group-10 {
  height: 453px;
  left: 736px;
  position: absolute;
  top: 1px;
  transform: rotate(90.00deg);
  width: 41px;
}

.client-era .rectangle-14 {
  background-color: var(--cape-cod);
  height: 453px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.client-era .rectangle-16 {
  background-color: var(--cape-cod);
  height: 1px;
  left: 1px;
  position: absolute;
  top: 452px;
  width: 40px;
}

.client-era .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 0;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.client-era .frame-4238 {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.client-era .industries {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.client-era .place-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.client-era .light-button-outlined-icon {
  align-items: center;
  border: 1px solid;
  border-color: var(--ebony-clay);
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.client-era .system-icons {
  height: 24px;
  position: relative;
  width: 24px;
}

.client-era .system-icons-1 {
  height: 21.33px;
  position: relative;
  width: 21.33px;
}

.client-era .line-1 {
  align-self: stretch;
  width: 100%;
}

.client-era .frame-42399 {
  align-items: flex-start;
  background-color: #f8f8f8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: calc(50.00% - 654px);
  overflow: hidden;
  padding: 50px 20px;
  position: absolute;
  top: 872px;
  width: 666px;
}

.client-era .frame-42409 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.client-era .log-in {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
  background: linear-gradient(270deg, rgba(20, 51, 103, 1) 0%, rgba(0, 21, 56, 1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: 600;
  line-height: 36px;
  margin-top: -1.00px;
  position: relative;
  text-fill-color: transparent;
}

.client-era .frame-4240 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  position: relative;
  width: 627px;
}

.client-era .e-mail {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.client-era .input {
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gray400);
  border-radius: 10px;
  height: 48px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.client-era .e-mail-1 {
  color: var(--blackalpha300);
  font-weight: 400;
  left: 16px;
  line-height: 16px;
  position: absolute;
  top: calc(50.00% - 8px);
  width: calc(100% - 32px);
}

.client-era .password {
  align-self: stretch;
  color: var(--black);
  font-weight: 400;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.client-era .input-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gray400);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 46px;
  justify-content: center;
  overflow: hidden;
  padding: 8px 10px;
  position: relative;
  width: 100%;
}

.client-era .frame-17 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.client-era .password-1 {
  color: var(--blackalpha300);
  font-weight: 400;
  line-height: 16px;
  position: relative;
  width: 294px;
}

.client-era .icon-linear {
  height: 21px;
  position: relative;
  width: 21px;
}

.client-era .dark-button-filled-icon {
  align-items: center;
  align-self: stretch;
  background-color: var(--turquoise-blue);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 8px 24px 8px 8px;
  position: relative;
  width: 100%;
}

.client-era .system-icons-2 {
  height: 32px;
  position: relative;
  width: 32px;
}

.client-era .frame-42415 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.client-era .forgot-your-password {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-12px);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.client-era .line-9 {
  margin-left: -0.50px;
  margin-right: -0.50px;
  width: 627px;
}

.client-era .frame-42415-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-left: -0.50px;
  margin-right: -0.50px;
  position: relative;
  width: 627px;
}

.client-era .need-help {
  align-self: stretch;
  color: var(--bright-gray);
  font-weight: 400;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.client-era .light-button-outlined-icon-1 {
  align-items: center;
  border: 2px solid;
  border-color: var(--ebony-clay);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  padding: 8px 24px 8px 8px;
  position: relative;
  width: 308px;
}

.client-era .contact-support {
  color: var(--ebony-clay);
  flex: 1;
  font-weight: 600;
  line-height: 17px;
  position: relative;
  text-align: center;
}

.client-era .frame {
  height: 24px;
  position: relative;
  width: 24px;
}

.client-era .vector-1 {
  height: 75.00%;
  left: 8.33%;
  position: absolute;
  top: 4.17%;
  width: 83.33%;
}

.client-era .vector-2 {
  height: 33.33%;
  left: 45.83%;
  position: absolute;
  top: 62.50%;
  width: 45.83%;
}

.client-era .frame-42434 {
  border: 1px solid;
  border-color: var(--turquoise-blue);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 399px;
  left: 879px;
  overflow: hidden;
  position: absolute;
  top: 874px;
  width: 533px;
}

.client-era .contact-informations {
  color: var(--turquoise-blue);
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  margin-left: 21.5px;
  margin-top: 32.4px;
  width: 489.98px;
}

.client-era .reach-us-through-one {
  color: var(--white);
  font-weight: 400;
  height: 36px;
  line-height: 18px;
  margin-left: 21.5px;
  margin-top: 21.5px;
  width: 489.98px;
}

.client-era .frame-42438 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: 195px;
  margin-left: 21.5px;
  margin-top: 43.2px;
  position: relative;
  width: 410px;
}

.client-era .frame-4243 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 18px;
  position: relative;
}

.client-era .frame-42437 {
  align-items: flex-start;
  display: flex;
  gap: 18px;
  position: relative;
  width: 223px;
}

.client-era .frame-1 {
  height: 24px;
  position: relative;
  width: 24px;
}

.client-era .vector-3 {
  height: 33.32%;
  left: 4.17%;
  position: absolute;
  top: 25.00%;
  width: 91.67%;
}

.client-era .vector-4 {
  height: 75.00%;
  left: 4.17%;
  position: absolute;
  top: 12.50%;
  width: 91.67%;
}

.client-era .infoidraksecuritycom {
  color: var(--white);
  font-weight: 400;
  line-height: 22px;
  margin-right: -19.00px;
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.client-era .frame-42434-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.client-era .frame-42437-1 {
  width: 198px;
}

.client-era .frame-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.client-era .vector {
  height: 91.67%;
  left: 4.17%;
  position: absolute;
  top: 4.17%;
  width: 91.67%;
}

.client-era .phone {
  color: var(--white);
  font-weight: 400;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  width: 156px;
}

.client-era .frame-42435 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 18px;
  position: relative;
  width: 100%;
}

.client-era .frame-42437-2 {
  width: 410px;
}

.client-era .frame-3 {
  height: 24px;
  position: relative;
  width: 24px;
}

.client-era .vector-5 {
  height: 91.67%;
  left: 12.50%;
  position: absolute;
  top: 4.17%;
  width: 75.00%;
}

.client-era .vector-6 {
  height: 33.33%;
  left: 33.33%;
  position: absolute;
  top: 25.00%;
  width: 33.33%;
}

.client-era .via-pietro-micca-15 {
  color: var(--white);
  font-weight: 400;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.client-era .frame-42437-3 {
  width: 272px;
}

.client-era .frame-4 {
  height: 24px;
  position: relative;
  width: 24px;
}

.client-era .vector-7 {
  height: 41.67%;
  left: 45.83%;
  position: absolute;
  top: 20.83%;
  width: 25.00%;
}

.client-era .mon-fri-09001800-cet {
  color: var(--white);
  font-weight: 400;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.client-era .frame-335 {
  bottom: 0;
  height: 735px;
  left: calc(50.00% - 756px);
  position: absolute;
  width: 1512px;
}

.client-era .frame-42437-4 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.client-era .line {
  height: 1px;
  object-fit: cover;
  position: relative;
}
